body { padding-top: 70px; background-color:#666;color: #666;font-family: Helvetica,Arial,sans-serif;transition:all 1.0s;}
.progress.vertical{margin-right: 0px;width:3.22580645161%;border-radius:0;}
.padd{padding-bottom: 70px;}
.table tbody>tr>td{vertical-align:middle;}

.fail{
    background-color: #d2322d;
    transition:all 1.0s;
}

.sent{
    background-color: #101010;
    transition:all 0.5s;
}

.btn:active, .btn:focus {
    outline: 0;
}

#add{
    margin-top: 10vh;
}

#bot{
    display: none;
}

#bot.visible{
    display: block;
}

span.hint{
    background-color: rgba(217, 83, 79, 0.75);
    color:#fff;
}

#bot input{
    background-color: #333;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    padding: 0 6px;
    margin: 0;
    vertical-align: middle;
    color: #aaa;
}

#bot .input-group-addon {
    background-color: #333;
    color: #aaa;
}

#csholder > .bootstrap-tagsinput > .tag:first-child{
    margin-left: 8px;
}

#bot .input-group-addon,
#bot .input-group-addon:last-child {
    border-left: 1px solid #444;
}

#bot .form-group.col-md-1 {
    padding-left: 5px;
    padding-right: 5px;
}

#bot .form-group.col-md-4{
    padding-left: 5px;
    padding-right: 5px;
}

#bot .form-group.col-md-4:first-child{
    padding-left: 0px;
}

#bot .form-group.col-md-4:last-child{
    padding-right: 0px;
}

.barholder{
    height: 300px;
}

@media (max-width: 767px){
    #bot .form-group.col-md-4:first-child,
    #bot .form-group.col-md-4:last-child{
        padding-left: 5px;
        padding-right: 5px;
    }
    .barholder{
        height: 150px;
    }
    #add{
        margin-top: 0;
    }
}

#toggleTrack{
    min-width: 220px;
    //width: 360px;
    height: 164px;
    outline: 0;
    border-width: 1px;
    border-color: #d2322d;
    margin: auto;
    box-sizing: border-box;
    transition: all 0.3s;
}

#toggleTrack:active,
#toggleTrack:focus{
    outline: 0;
}

@keyframes pulse
{
    from {background: #d2322d;border-width: 0px;border-color: #d2322d;width:220px;height:220px;margin-top:0;margin-bottom:0px;}
    to {background: #ac2925;border-width: 5px;border-color: #ac2925;width:230px;height:230px;margin-top:-5px;margin-bottom:-5px;}
}

@-webkit-keyframes pulse{
    from {background: #d2322d;border-width: 0px;border-color: #d2322d;width:220px;height:220px;margin-top:0;margin-bottom:0px;}
    to {background: #ac2925;border-width: 5px;border-color: #ac2925;width:230px;height:230px;margin-top:-5px;margin-bottom:-5px;}
}

#toggleTrack.tracking{
    border-radius: 100%;
    width: 220px;
    height: 220px;
    margin: auto;
    transition: all 0.3s;
    animation: pulse 1s linear 0.5s infinite alternate;
    -webkit-animation: pulse 1s linear 0.5s infinite alternate;
}


.navbar-inverse{
    background-color:rgba(34, 34, 34, 0.98);
}

.navbar-inverse .bootstrap-tagsinput {
    background-color: #333;
    width: 100%;
    border: 0px solid #ccc;
    box-shadow: none;
    display: inline-block;
    padding: 0px;
    margin-bottom: 0px;
    color: #555;
    vertical-align: middle;
    border-radius: 0px;
    max-width: 100%;
    line-height: 44px;
    font-size: 16px;
    overflow-y: auto;
    max-height: 48px;
}

.navbar-inverse .bootstrap-tagsinput input {
    min-width: 140px;
}

.navbar-inverse .bootstrap-select.btn-group .btn .filter-option {
    left: 20px;
    right: 25px;
    color: #aaa;
}

.navbar-inverse .bootstrap-select.btn-group .btn .caret {
    display: none;
}


.navbar-inverse .bootstrap-select.btn-group .btn {
    background-color: #333;
    border: 0px solid #ccc;
}

.navbar-inverse .bootstrap-select.btn-group .btn:focus {
    outline: none !important;
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0px 15px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

.form-horizontal .control-label{
    color: #fff;
}

.form-control {
    border: 0px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    font-size: 16px;
    line-height: 1;
    resize:vertical;
}

.dropdown-menu>li>a{
    font-size: 16px;
    line-height: 40px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #d2322d;
}

.dropdown-menu>li>a:hover i.fa, .dropdown-menu>li>a:focus i.fa{
    color: white;
}

.form-search .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group {
    margin-bottom: 15px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 15px;
}

.bootstrap-select.btn-group .dropdown-menu {
    border: none;
    border-radius: 0;
}

.bootstrap-select>.btn {
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    height: 48px;
    border: none;
    border-radius: 0;
}

.bootstrap-tagsinput{
    background-color: #fff;
    width: 100%;
    border: 0px solid #ccc;
    box-shadow: none;
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 0px;
    max-width: 100%;
    line-height: 36px;
    font-size: 16px;
}

.bootstrap-tagsinput:hover{
    cursor: text;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
}

.bootstrap-tagsinput .tag{
    padding: .3em .6em .3em;
}

.input-group-addon {
    border: none;
    border-left: 1px solid #cccccc;
    border-radius: 0px;
}

.input-group-addon:last-child {
    border-left: 1px solid #cccccc;
}

.date .input-group-addon:hover, .clickable:hover{
    cursor: pointer;
}

.date input{
    height: 48px;
}

.date .form-control{
    font-size: 16px;
}

.datetimepicker.dropdown-menu{
    font-size: 16px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
  max-width: 320px !important;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.twitter-typeahead .hint-small
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large
{
    height: 45px;
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 0px;
    line-height: 1.33;
}

.twitter-typeahead input{
    min-width: 80px;
}

.tt-dropdown-menu {
  min-width: 240px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    font-size: 16px;
    line-height: 40px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #d2322d;
}

.progress{
    background-color: #fff;
}

.progress-bar-danger:hover {
    background-color: #d2322d;
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.table-striped>tbody>tr.table-spacer:nth-child(odd)>td,
.table-striped>tbody>tr.table-spacer:nth-child(even)>td{
    background-color: #666;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fff;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.breadcrumb {
    padding: 13px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 0px;
    font-size: 16px;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 1px solid #eee;
}

.alert.alert-default {
    background-color: #fff;
    border-radius: 0px;
    border: 0px solid transparent;
}